langchain
langchain-community
langchain-core
langchain-chroma
langchain-text-splitters
langchain-huggingface
transformers
sentence-transformers
chromadb
torch
streamlit
pymupdf
python-docx
pandas
python-pptx
